.progress-bar-container {
  width: 100%;
  background-color: rgb(226, 232, 240);
  border-radius: 9999px;
  height: 0.625rem;
  overflow: hidden;
}

.progress-bar-fill {
  height: 0.625rem;
  border-radius: 9999px;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
  width: var(--progress-width, 0%);
}
